﻿@model BookShop.Domain.Entities.ShippingDetails


@{
    ViewBag.Title = "BookShop: Checkout";
}

<h2>Checkout right now</h2>

<p> please input your personal info for shipping</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>general</h3>
    <div class="form-group"> 
        <label> your name </label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Address</h3>

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>options</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Использовать подарочную упаковку?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Checkout" />
    </div>

}

