﻿@model BookShop.WebUI.Models.CartIndexViewModel
@{
    ViewBag.Title = "BookShop: Cart";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Your Cart</h2>

<table id="cartTable" class="table"> 
    <thead>
        <tr>
            <th>Quantity</th> 
            <th>Name</th> 
            <th class="text-right">Price</th> 
            <th class="text-right">Total Price</th> 
        </tr>
    </thead>

    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Book.BookName</td>
                <td class="text-right">@line.Book.Price.ToString("# руб")</td>
                <td class="text-right">
                    @((line.Quantity * line.Book.Price).ToString("# руб"))
                </td>
                <td>@using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("BookId", line.Book.BookId)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="btn btn-sm btn-warning" type="submit" value="delete" />
                }</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# uah")
            </td>
        </tr>
    </tfoot>
    </table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Back To Shopping</a>
    @Html.ActionLink("Checkout", "Checkout", null, new { @class = "btn btn-primary"})
</div>

