﻿@model BookShop.Domain.Entities.Book

<div class="well">
    <h3>
        <strong>@Model.BookName</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# uah")</span>
    </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">

            @Html.HiddenFor(b => b.BookId )
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart"/>
            </div>
    }

    <span class="lead"> @Model.Description</span>
</div>
